// Add your custom CSS here.

.top-bar {
  background-color: var(--secondary);
}

.top-bar__nav {
  font-size: var(--font-size-sm);
  color: #ee9ab0;
}

.header {
  background-color: var(--secondary);
  color: var(--secondary-yiq);
}

.header__toggler-icon,
.header__buttons .btn {
  color: var(--secondary-yiq);
}

.header__search-input {
  background: var(--primary);
}

.header__search-btn {
  color: var(--primary-yiq);
}
